<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Código expresivo - Fernando Silva Jacquier</title>

		<link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/solarized.css">
		<link rel="stylesheet" href="plugin/highlight/monokai.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<section>
						<h1>Código expresivo</h1>
            <p>El valor de poder decir lo mismo de muchas maneras</p>
            <p>Y la importancia de decirlo de la manera correcta</p>
						<aside class="notes">
						</aside>
					</section>
          <section>
            <p>Fernando E. Silva Jacquier<div><small>fesilvajacquier</small></div></p>
            <small>
              <div>Tech Lead en <a href="https://www.boxful.io" target="_blank" rel="noopener">Boxful</a></div>
              <div>Consultor</div>
              <div>Teacher en <a href="https://www.lewagon.com/" target="_blank" rel="noopener">Le Wagon</a></div>
            </small>
            <aside class="notes">
              Algunos aclaraciones previas:<br>
              - Los ejemplos de código están simplificados o exagerados para ilustrar un punto<br>
              - Voy a mencionar muchos recursos. Todos los links estarán en la presentación<br>
              - Uso muchos anglicismos<br>
              <br>
              La charla es un poco meta. Al principio, habla un poco de sí misma.
            </aside>
          </section>
				</section>
				<section>
          <section>
            <blockquote>
              > La aplicación me está crasheando un montón.
            </blockquote>
            <aside class="notes">
              El origen de la charla está en que un amigo me planteo esto.
            </aside>
          </section>
					<section>
						<h4>Todos los miércoles a las 08.00 horas</h4>
						<pre><code class="language-ruby" data-trim>
              users.each do |user|
                UserMailer.with(user: user).payment_reminder.deliver_later
              end
						</code></pre>
						<aside class="notes">
              Empezamos a investigar una de las primeras cosas que encontramos fue esto.
						</aside>
					</section>
          <section data-auto-animate>
						<h4>La solución</h4>
						<pre data-id="code_each"><code class="language-ruby" data-trim>
              # ❌ Carga todo en memoria
              users.each do |user|
                # ...
              end
						</code></pre>
						<aside class="notes">
							> Por suerte, la solución a esto es fácil.
						</aside>
					</section>
          <section data-auto-animate>
						<h4>La solución</h4>
						<pre data-id="code_each"><code class="language-ruby" data-trim>
              # ✅ Procesa en batches
              users.find_each do |user|
                # ...
              end
						</code></pre>
						<aside class="notes">
							> Por suerte, la solución a esto es fácil.
						</aside>
					</section>
					<section>
            <div style="display: flex; justify-content: center; align-items: center;">
              <div style="width: 45%; display: flex; justify-content: center; align-items: center;flex-direction: column;">
                <p>each</p>
                <span>👤👤👤👤👤👤👤</span>
                <span>👤👤👤👤👤👤👤</span>
                <span>👤👤👤👤👤👤👤</span>
                <span>👤👤👤👤👤👤👤</span>
                <span>👤👤👤👤👤👤👤</span>
                <span>👤👤👤👤👤👤👤</span>
                <span>👤👤👤👤👤👤👤</span>
                <span>👤👤👤👤👤👤👤</span>
              </div>
              <div style="width: 10%;">vs</div>
              <div style="width: 45%; display: flex; justify-content: center; align-items: center;flex-direction: column;">
                <p><a href="https://api.rubyonrails.org/classes/ActiveRecord/Batches.html#method-i-find_each" target="_blank" rel="noopener">find_each</a></p>
                <span class="fragment fade-in-then-out">👤👤👤👤👤👤👤</span>
                <span class="fragment fade-in-then-out">👤👤👤👤👤👤👤</span>
                <span class="fragment fade-in-then-out">👤👤👤👤👤👤👤</span>
                <span class="fragment fade-in-then-out">👤👤👤👤👤👤👤</span>
                <span class="fragment fade-in-then-out">👤👤👤👤👤👤👤</span>
                <span class="fragment fade-in-then-out">👤👤👤👤👤👤👤</span>
                <span class="fragment fade-in-then-out">👤👤👤👤👤👤👤</span>
                <span class="fragment fade-in-then-out">👤👤👤👤👤👤👤</span>
              </div>
            </div>
					</section>
					<section>
						<h4>Una charla sobre performance</h4>
						<p class="fragment">Ya está, con esto puedo hacer una charla sobre los costos de lo idiomático</p>
						<aside class="notes">
							Terminamos la reunión. Tomé mis notas. Y me olvidé de la charla por un rato.
						</aside>
					</section>
					<section>
            <h3>Poco después encontré el segundo input de la charla</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GpaSq6xW8wQ?si=UBfICAimSSZ7fJfC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <aside class="notes">
              Yendo a la oftalmóloga escuché este podcast.<br>
              <br>
              Pequeño paréntesis: Hacer mención a lo de la comunidad.<br>
              <br>
              Habla de _everyday performance_
              <br>
              Y de que los developers a veces confunden el outcome con el proceso.
            </aside>
					</section>
          <section data-auto-animate>
            <h4>Qué obtenemos: hay o no hay usuarios</h4>
            <pre data-id="code-animation"><code class="language-ruby" data-trim>
              users.present?
              # => User Load (286.4ms)
              # => SELECT "users".* FROM "users"
              => true
            </code></pre>
          </section>
          <section data-auto-animate>
            <h4>Qué obtenemos: hay o no hay usuarios</h4>
            <h4>Cómo lo obtenemos: 🤔</h4>
            <pre data-id="code-animation"><code class="language-ruby" data-trim>
              users.present?
              # => User Load (286.4ms)
              # => SELECT "users".* FROM "users"
              => true
              users.any?
              # => User Exists? (0.8ms)
              # => SELECT 1 AS one FROM "users" LIMIT $1  [["LIMIT", 1]]
              => true
            </code></pre>
          </section>
					<section data-auto-animate>
            <h4>Qué obtenemos: cuántos usuarios hay</h4>
						<pre data-id="code-animation-count"><code class="language-ruby" data-trim>
              users.count
              # => User Count (4.6ms)  SELECT COUNT(*) FROM "users"
              => 32107
						</code></pre>
						<aside class="notes">
              count: Siempre hace una query a la DB<br>
              <br>
              length: Si la colección está cargada, hace array.length, sino la carga en memoria y luego hace array.length<br>
              <br>
              size: Si está cargado en memoria, hace array.size, sino hace count
						</aside>
					</section>
					<section data-auto-animate>
            <h4>Qué obtenemos: cuántos usuarios hay</h4>
						<pre data-id="code-animation-count"><code class="language-ruby" data-trim>
              users.count
              # => User Count (4.6ms)  SELECT COUNT(*) FROM "users"
              => 32107

              users.length
              # => User Load (230.2ms)  SELECT "users".* FROM "users"
              => 32107
              users.length
              => 32107
						</code></pre>
						<aside class="notes">
              count: Siempre hace una query a la DB<br>
              <br>
              length: Si la colección está cargada, hace array.length, sino la carga en memoria y luego hace array.length<br>
              <br>
              size: Si está cargado en memoria, hace array.size, sino hace count
						</aside>
					</section>
					<section data-auto-animate>
            <h4>Qué obtenemos: cuántos usuarios hay</h4>
            <h4>Cómo lo obtenemos: 🤔</h4>
						<pre data-id="code-animation-count"><code class="language-ruby" data-trim>
              users.count
              # => User Count (4.6ms)  SELECT COUNT(*) FROM "users"
              => 32107

              users.length
              # => User Load (230.2ms)  SELECT "users".* FROM "users"
              => 32107
              users.length
              => 32107

              users.size
              # => User Count (5.3ms)  SELECT COUNT(*) FROM "users"
              => 32107
              users.size
              => 32107
						</code></pre>
						<aside class="notes">
              count: Siempre hace una query a la DB<br>
              <br>
              length: Si la colección está cargada, hace array.length, sino la carga en memoria y luego hace array.length<br>
              <br>
              size: Si está cargado en memoria, hace array.size, sino hace count
						</aside>
					</section>
					<section>
						<h3>Mismos takeaways</h3>
						<ul>
							<li class="fragment">El <strong>cómo</strong> es tan importante como el <strong>qué</strong></li>
							<li class="fragment">El <strong>contexto</strong> es importante</li>
						</ul>
						<aside class="notes">
              De nuevo, tomé notas y dejé reposar la idea de la charla por un rato.
            </aside>
					</section>
					<section>
						<h3>Un esfuercito más</h3>
						<p class="fragment">Busqué más ejemplos...</p>
						<aside class="notes">
							A ver si encontraba algo que no tenga que ver exclusivamente con performance.
						</aside>
					</section>
					<section data-auto-animate>
						<pre data-id="code-animation-all"><code class="language-ruby" data-trim>
              [1, 2, 3].all? { |number| number.positive? }
              => true
              [1, 2, -1].all? { |number| number.positive? }
              => false
						</code></pre>
          </section>
          <section data-auto-animate>
            <pre data-id="code-animation-all"><code class="language-ruby" data-trim>
              [1, 2, 3].all? { |number| number.positive? }
              => true
              [1, 2, -1].all? { |number| number.positive? }
              => false
              [].all? { |number| number.positive? }
              => true
						</code></pre>
            <p>Es una <a href="https://stackoverflow.com/questions/16662727/why-does-all-return-true-on-an-empty-array/16662982#16662982" target="_blank" rel="noopener">verdad vacua</a></p>
						<aside class="notes">
							Vacuous truth: lógicamente correcto, contra-intuitivo
              En matemática y lógica, una verdad vacua o verdad vacía es una declaración que afirma que todos los miembros del conjunto vacío poseen cierta propiedad.
						</aside>
					</section>
					<section>
						<h2>Pero todavía sentía que no tenía suficiente</h2>
            <p class="fragment">Para peor... me encontré con que este <a href="https://github.com/fastruby/fast-ruby">repositorio de Fast Ruby</a> donde, de alguna manera, ya se hizo lo que buscaba.</p>
            <p class="fragment">Así que dejé descansar a la idea un rato más.</p>
						<aside class="notes">
              Y cuando volví a ella, me acerque desde más lejos...<br>
              <br>
							Empecé a explorar los campos semánticos y léxicos. De costos a problemas, de problemas a soluciones, de soluciones a valor.<br>
              De lo idiomático a lo expresivo.<br>
              <br>
              Y empecé a buscar entre mis notas "cosas" que podían ser aledañas a lo expresivo.
						</aside>
					</section>
				</section>
        <section>
          <section>
            <h2>Lo valioso de la expresividad - Prototipaje rápido</h2>
          </section>
					<section>
            <div style="display: flex; justify-content: space-between;">
              <div style="width: 50%;">
                <img src="assets/francis-bacon.jpg" alt="Francis Bacon" style="width: 100%;">
              </div>
              <div style="width: 50%;">
                <blockquote>
                  <small>
                    > No dibujo. Empiezo haciendo todo tipo de manchas. Espero lo que llamo "el accidente": la mancha desde la cual saldrá el cuadro. La mancha es el accidente. Pero si uno se para en el accidente, si uno cree que comprende el accidente, hará una vez más ilustración, pues la mancha se parece siempre a algo.
                  </small>
                </blockquote>
                <small><a href="https://ddooss.org/textos/entrevistas/entrevista-a-francis-bacon-1" target="_blank" rel="noopener">Entrevista a Francis Bacon</a></small>
              </div>
            </div>
						<aside class="notes">
							Entre mis notas encontré esta cita de Francis Bacon.
						</aside>
					</section>
					<section data-auto-animate>
						<pre data-id="code-animation-prototipaje"><code class="language-ruby" data-trim>
              <%# La mancha inicial... %>
              <% if current_user.payments.present? %>
                <%# Something... %>
              <% end %>
            </code></pre>
					</section>
					<section data-auto-animate>
						<pre data-id="code-animation-prototipaje"><code class="language-ruby" data-trim>
              <%# La mancha inicial... se parece a algo.. %>
              <% if current_user.payments.any? %>
                <%# Something... %>
              <% end %>
            </code></pre>
					</section>
					<section>
						<h3>Más allá de la primera mancha</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vH-mNygyXs0?si=WOEjF8YwcQRqduim&amp;start=755" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div style="display: flex; justify-content: center; align-items: center;">
              <small><a href="https://github.com/kaspth/riffing-on-rails" target="_blank" rel="noopener">Repo de Github</a></small> | <small><a href="https://kaspth.com/posts/my-intro-to-domain-modeling-with-riffing-the-bike-shed-railsconf-talk" target="_blank" rel="noopener">Post de Kasper</a></small> | <small><a href="https://kaspthrb.gumroad.com/l/domain-model-riffing" target="_blank" rel="noopener">Workshop</a></small>
            </div>
						<aside class="notes">
							También encontré mis notas de cuando hice el workshop de Domain Modeling with Riffing.
						</aside>
					</section>
          <section>
            <img src="assets/sketch.jpg" alt="Scratch file" style="width: 50%; height: 50%;">
            <aside class="notes">
              > Riffing is to development what wireframing is to UI design. It's a fast, low-fidelity design technique for exploring, validating, and communicating design concepts within a tight feedback loop.
            </aside>
          </section>
					<section>
						<pre><code class="language-ruby" data-trim>
              # Spotify Mix Playlists: Assuming we have a history of played songs for a user,
              # we have song recommendations via nearest neighbor search,
              # and we have categorizations (genre, mood, era, instrumental/vocal, cultural/regional, theme),
              # let system admins create mix templates based on music categorizations
              # and then generate refreshable custom playlists for each user.

              class User
                has_many :playlists
                has_one :history
              end

              class History
                has_many :listens
                has_many :tracks, through: :listens
              end

              class History::Listen
                belongs_to :history
                belongs_to :track
              end

              class Track
                has_many :categorizations
                has_many :categories, through: :categorizations
              end

              track.inner_joins(Track::Category.genres).nearest(100)

              Track::Category.genres.where(value: ["pop", "hiphop"])
              Track::Category.eras.where(value: ["80s", "90s"])

              class Track::Category
                has_many :categorizations
                has_many :tracks, through: :categorizations

                belongs_to :details
              end

              class Track::Category::Categorization
                belongs_to :track
                belongs_to :category
              end

              class Playlist
              end

              class Mix::Template
                has_many :categories

                def build_for(user)
                  from_own_history = user.history.tracks.ordered_by_popularity.joins(:categories).where(categories:).limit(100).flat_map do |track|
                    [track, track.nearest(10)]
                  end.uniq.first(100)

                  if from_own_history >= 100
                    from_own_history
                  else
                    Track.ordered_by_popularity.joins(:categories).where(categories:).limit(100).flat_map do |track|
                      [track, track.nearest(10)]
                    end.including(from_own_history).uniq.first(100)
                  end
                end
              end

              class Mix::Build
                belongs_to :template
                belongs_to :user

                has_many :links
                has_many :tracks, through: :links

                def regenerate
                  update! tracks: template.build_for(user)
                end
              end

              class Mix::Build::Link
                belongs_to :build
                belongs_to :track
              end
						</code></pre>
						<aside class="notes">
              Lo más interesante del workshop es que proponía hacer este mismo ejercicio varias veces. Con el mismo contexto y con las mismas reglas.<br>
              <br>
              Volver para atrás para mencionar lo de "getting things out of my head".<br>
              <br>
              Mencionar lo de figuring out names, responsibilities, etc.
						</aside>
					</section>
				</section>
				<section>
					<section>
						<h2>Lo valioso de la expresividad -  Reducción de la carga cognitiva y feedback loops más cortos</h2>
					</section>
					<section>
						<h3>Carga cognitiva</h3>
            <img src="assets/cognitiveloadv6.jpg" alt="Carga cognitiva" style="width: 50%; height: 50%;">
            <a href="https://github.com/zakirullin/cognitive-load" target="_blank" rel="noopener">https://github.com/zakirullin/cognitive-load</a>
						<aside class="notes">
              Intrinsic - caused by the inherent difficulty of a task. It can't be reduced, it's at the very heart of software development. <br>

              Extraneous - created by the way the information is presented. Caused by factors not directly relevant to the task.<br>
              <br>
              Mencionar lo de four chunks
						</aside>
					</section>
					<section>
						<h4>Buenas interfaces = menos carga cognitiva</h4>
						<pre><code class="language-ruby" data-trim>
              # Así
              user_ids = []
              for i in 0...users.length do
                user_ids.push(users[i].id)
              end

              # o así
              users.ids
						</code></pre>
						<aside class="notes">
              When reading code, you put things like values of variables, control flow logic and call sequences into your head. The average person can hold roughly four such chunks in working memory. Once the cognitive load reaches this threshold, it becomes much harder to understand things.
						</aside>
					</section>
					<section>
						<h3><a href="https://martinfowler.com/articles/developer-effectiveness.html" target="_blank" rel="noopener">Maximizing Developer Effectiveness</a></h3>
            <small>Por Tim Cochran para <a href="https://martinfowler.com/" target="_blank" rel="noopener">https://martinfowler.com/</a></small>
            <img src="assets/feedback-loops.jpg" alt="Feedback loops">
						<aside class="notes">
              - Being productive motivates developers. Without the friction, they have time to think creatively and apply themselves<br>
              <br>
              - From what I have observed, you have to nail the basics, the things that developers do 10, 100 or 200 times a day. I call them micro-feedback loops. This could be running a unit test while fixing a bug. It could be seeing a code change reflected in your local environment or development environments. It could be refreshing data in your environment.<br>
              <br>
              Mencionar que una de las cosas que se pueden optimizar es cuanto tardamos en "traducir" nuestro pensamiento a código. Y mientras más expresivo sea el lenguaje, menos tiempo tardamos en hacerlo.
						</aside>
					</section>
					<section>
						<h3><a href="https://queue.acm.org/detail.cfm?id=3595878" target="_blank" rel="noopener">DevEx: What Actually Drives Productivity
            </a></h3>
            <small>Por Abi Noda (DX), Margaret-Anne Storey (University of Victoria), Nicole Forsgren (Microsoft Research), Michaela Greiler (DX)</small>
            <img src="assets/devex.jpg" alt="DevEx: What Actually Drives Productivity" style="width: 50%; height: 50%;">
						<aside class="notes">
              flow state, a mental state in which a person performing an activity is fully immersed in a feeling of energized focus, full involvement, and enjoyment<br>
              <br>
              If expressiveness leads to simpler, more organized code that is easy to understand, it would likely reduce cognitive load and boost productivity. If, however, flexibility leads to overly complex, fragmented, or poorly documented systems, it would likely increase cognitive load and thus impede effectiveness.
						</aside>
					</section>
				</section>
        <section>
          <section>
            <h2>Lo valioso de la expresividad - Identidad y búsqueda estética</h2>
            <aside class="notes">
              Este segmento casi no lo incluyo hasta que...
            </aside>
          </section>
          <section>
            <table>
              <thead>
                <tr>
                  <th>Malasio</th>
                  <th>Español</th>
                </tr>
                <tr>
                  <td>saya <strong>keluar</strong></td>
                  <td>estoy <strong>fuera</strong></td>
                </tr>
                <tr>
                  <td>pintu <strong>keluar</strong></td>
                  <td>puerta de <strong>salida</strong></td>
                </tr>
                <tr>
                  <td><strong>keluar</strong></td>
                  <td><strong>salir</strong></td>
                </tr>
              </thead>
            </table>
            <aside class="notes">
              ... me acordé de esta anécdota con Dave.
              <br>
              Reconocí la palabra keluar cuando él hablaba con otra persona.<br>
              Le pregunté si le había dicho algo de la salida... <br>
              Y terminamos hablando de literatura malaya. Y de cómo estaba límitada por su propia lengua.
            </aside>
          </section>
          <section>
            <h3><a href="https://world.hey.com/dhh/a-writer-s-ruby-2050b634" target="_blank" rel="noopener">A writer's Ruby</a></h3>
            <small>Por David Heinemeier Hansson</small>
            <blockquote>
              > Whereas Python’s motto has long been “there should be one – and preferably only one – obvious way to do it”, Ruby is the exact opposite. There are many ways to do almost everything, and it’s why reading and writing Ruby is such a delight to people like me who strive to write code as an author more often than as an engineer.
            </blockquote>
            <aside class="notes">
              Este es el artículo donde presenta rubocop-rails-omakase .
            </aside>
          </section>
          <section>
            <h3>Los dialectos de Ruby</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7gcbaNlqdLE?si=IB08R-EA8beUktv-&amp;start=233" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <aside class="notes">
              Idiom puede ser "expresión" (tiny design pattern) o "dialecto".<br>
              Esta charla habla de los dos conceptos.
            </aside>
          </section>
        </section>
				<section>
					<section>
						<h2>¿Cómo elegir la correcta?</h2>
						<aside class="notes">
							Transición: vimos el valor, ahora las herramientas
						</aside>
					</section>
					<section>
						<h3>La expresividad puede ir en detrimento de la uniformidad</h3>
            <pre><code class="language-ruby" data-trim>
              # A
              def disability_amount
                return 0 if @seniority < 2
                return 0 if @months_disabled > 12
                return 0 if @is_part_time

                # Compute the disability amount...
              end

              # B
              def disability_amount
                return 0 if @seniority < 2 || @months_disabled > 12 || @is_part_time

                # Compute the disability amount...
              end

              # C
              def disability_amount
                return 0 if ineligible_for_disability?

                # Compute the disability amount...
              end
                          </code></pre>
						<aside class="notes">
							Tiene el costo de mayor carga cognitiva y mayor mantenimiento
						</aside>
					</section>
          <section>
						<h4>Refactoring</h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xU7LBW8tmKI?si=ug0gU09Tlo4OUXw2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>
              <a href="https://ruby.com.ar/meetup/2024_08.html" target="_blank" rel="noopener" ><small>Ruby Sur - Refactoring en Ruby: Elevating Code Quality Through Community And Practice</small></a>
            </p>
						<aside class="notes">
							Para uniformidad: refactoring y mejores prácticas
						</aside>
					</section>
					<section>
						<h3>La expresividad puede ir en detrimento de la confiabilidad</h3>
            <pre><code class="language-ruby" data-trim>
              # ...
              if users.all?(&:certified?)
                proceed_with_project!
              end
              # pero si users.blank? == true,
              # el proyecto se ejecuta sin verificar nada
            </code></pre>
						<aside class="notes">
							Los trade-offs que debemos considerar: edge cases
						</aside>
					</section>
					<section>
						<h4>Testing</h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fZIhFXQb2Sw?si=JoWBMdlDC_GOWZpk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>
              <a href="https://ruby.com.ar/meetup/2024_11.html" target="_blank" rel="noopener" ><small>Ruby Sur - Testing y performance</small></a>
            </p>
						<aside class="notes">
							Para confiabilidad: testing exhaustivo
						</aside>
					</section>
					<section>
						<h3>La expresividad puede ir en detrimento de la performance</h3>
            <img src="assets/inbox_count.jpg" alt="Inbox count" class="fragment">

            <pre class="fragment"><code class="language-ruby" data-trim>
              # ...
              if unread_emails = Current.user.emails.unread.presence
                @unread_count = unread_emails.length
              end
              # ...
            </code></pre>
						<aside class="notes">
							Los trade-offs que debemos considerar
						</aside>
					</section>
					<section>
						<h4>Instrumentación y Observabilidad</h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/tMxMVAQkBZs?si=i4g0VCBpP0WLGSqr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>
              <a href="https://ruby.com.ar/meetup/2025_03.html" target="_blank" rel="noopener"><small>Ruby Sur - El camino de la instrumentación</small></a>
            </p>
						<aside class="notes">
							Para performance: medir y optimizar con datos
						</aside>
					</section>
				</section>
				<section>
          <section>
            <h3><a href="https://www.mural.co/blog/divergent-convergent-thinking" target="_blank" rel="noopener">Divergent and Convergent Thinking</a></h3>
            <p><small>Por Bryan Kitch</small></p>
            <img src="assets/diverge_converge.jpg" alt="Diverge and converge">
            <aside class="notes">
              Divergence is the process of exploring and generating a wide range of ideas and possibilities without any judgment or criticism. Divergent thinking allows designers to expand the possibilities and consider different perspectives, angles, and dimensions of the problem.<br>
              <br>
              Convergent thinking refers to the process of selecting, evaluating, and refining the most promising ideas from the divergent phase. It involves narrowing down and refining possibilities by selecting the best ideas and combining them to create a coherent and effective solution.
            </aside>
          </section>
					<section>
						<h2>Conclusión</h2>
						<p class="fragment">Escriban código como se les cante</p>
						<p class="fragment">Pero sepan que hay maneras más costosas que otras</p>
					</section>
					<section>
						<h2>¿Preguntas?</h2>
            <p>
              <small>Presentación: <a href="https://fesilvajacquier.github.io/codigo_expresivo/" target="_blank" rel="noopener">https://fesilvajacquier.github.io/codigo_expresivo</a></small>
              <small>Repo: <a href="https://github.com/fesilvajacquier/codigo_expresivo" target="_blank" rel="noopener">https://github.com/fesilvajacquier/codigo_expresivo</a></small>
            </p>
					</section>
				</section>
			</div>
		</div>

		<script src="dist/reveal.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
		<script src="plugin/highlight/highlight.js"></script>
		<script>
			Reveal.initialize({
				hash: true,
				fragments: true,
				slideNumber: 'c/t',
				controls: true,
				progress: true,
				center: true,
				transition: 'slide',
				transitionSpeed: 'default',
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
	</body>
</html>
